%h1 Editing Tournament

= render 'form'

%br/
%hr/
%br/

= link_to 'Show', admin_tournament_path(@tournament), {class: "btn btn-default"}
= link_to 'Back', admin_tournaments_path, {class: "btn btn-default"}
