.container
  .page-header
    %h1= @team.name
  %dl.dl-horizontal
    %dt Tournament:
    %dd
      %a{:href => "/tournament/#{@team.tournament.id}"}= @team.tournament.name
    %dt Club:
    %dd
      %a{:href => "/club/#{@team.club.id}"}= @team.club.name
  %br/
  %br/
  %div
    %h3 Team roster
    - if @team.users.empty?
      %div
        %em (The roster is empty)
    - else
      %table.table
        - @team.users each do |user|
          %tr
            %td{:style => "width:300px"}
              %a{:href => "/profile/#{user.id}"}= user.name
            %check{:if => "{{ @canEditRoster }}"}
              %td
                %button.remove_player.btn.btn-danger{"data-profile" => "{{ user.id }}", :type => "button"} Remove Player
  %br/
  %br/
  %br/
  %check{:if => "{{ @canEditRoster }}"}
    %div
      %h3 Add a club member to the roster
      %check{:if => "{{ empty(@teamless) }}"}
        %true
          %div
            %em (No club members are teamless)
        %false
          %table.table
            %repeat{:group => "{{ @teamless }}", :value => "{{ @profile }}"}
              %tr
                %td{:style => "width:300px"}
                  %a{:href => "/profile/{{ @profile.profile_id }}"} {{ @profile.first_name . ' ' . @profile.last_name }}
                %td
                  %button.add_player.btn.btn-primary{"data-profile" => "{{ @profile.profile_id }}", :type => "button"} Add Player
    %br/
    %br/
    %br/
    %div
      %h3 Club members on another team
      %check{:if => "{{ empty(@teamfull) }}"}
        %true
          %div
            %em (No club members on other teams)
        %false
          %table.table
            %repeat{:group => "{{ @teamfull }}", :value => "{{ @profile }}"}
              %tr
                %td
                  %a{:href => "/profile/{{ @profile.profile_id }}"} {{ @profile.first_name . ' ' . @profile.last_name }}
                %td
                  (
                  %a{:href => "/team/{{ @profile.team_id }}"}> {{ @profile.team_name }}
                  )
    %br/
    %hr/
    %div
      %button#delete_team.btn.btn-danger{:type => "button"} DELETE TEAM
:javascript
  $('#delete_team').on('click', function() {
  	$.ajax({
  		url:'/team/{{ @PARAMS.id }}',
  		method:'DELETE',
  		success: function() {
  			window.location = '/club';
  		}
  	});
  });
  $('.add_player').on('click', function() {
  	var profile_id = $(this).data('profile');
  	$.ajax({
  		url:'/player/{{ @PARAMS.id }}/' + profile_id,
  		method:'PUT',
  		success: function() {
  			window.location.reload();
  		}
  	});
  });
  $('.remove_player').on('click', function() {
  	var profile_id = $(this).data('profile');
  	$.ajax({
  		url:'/player/{{ @PARAMS.id }}/' + profile_id,
  		method:'DELETE',
  		success: function() {
  			window.location.reload();
  		}
  	});
  });
