<div class="container">
<h1>NACVA &nbsp;&nbsp;&nbsp;&nbsp;<small>Manage your player profile and team roster</small></h1>
<form class="form-signin" action="" method="POST">
<h3 class="form-signin-heading">Please sign in</h3>
<label for="inputEmail" class="sr-only">Email address</label>
<input type="email" id="inputEmail" class="form-control top-control" placeholder="Email address" required autofocus name="email" />
<label for="inputPassword" class="sr-only">Password</label>
<input type="password" id="inputPassword" class="form-control bottom-control" placeholder="Password" required name="password">
<button class="btn btn-lg btn-primary btn-block" type="submit">Sign in</button>
</form>
<div class="signup"><a href="/signup">Or signup for a new account.</a></div>
</div>