.container
	.page-header
		%h1 Profile

	= form_tag edit_user_path, :method => :post, class: "form-horizontal" do
		.form-group
      %label.col-sm-3.control-label{:for => "first_name"} First Name:
      .col-sm-9
        %input.form-control{:name => "first_name", :type => "text", :value => "{{ @profile.first_name }}"}/
    .form-group
      %label.col-sm-3.control-label{:for => "last_name"} Last Name:
      .col-sm-9
        %input.form-control{:name => "last_name", :type => "text", :value => "{{ @profile.last_name }}"}/
    .form-group
      %label.col-sm-3.control-label{:for => "email"} Email:
      .col-sm-9
        %input.form-control{:name => "email", :type => "email", :value => "{{ @account.email }}"}/
    .form-group
      %label.col-sm-3.control-label{:for => "gender"} Gender:
      .col-sm-9
        %label.radio-inline
          %input{:name => "gender", :type => "radio", :value => "male"}>/
          {{ (@profile.gender == 'MALE') ? 'checked' : '' }} /&gt;Male
        %label.radio-inline
          %input{:name => "gender", :type => "radio", :value => "female"}>/
          {{ (@profile.gender == 'FEMALE') ? 'checked' : '' }} /&gt;Female
    .form-group
      %label.col-sm-3.control-label{:for => "address"} Address:
      .col-sm-9
        %input.form-control{:name => "address", :type => "text", :value => "{{ @profile.address }}"}/
    .form-group
      %label.col-sm-3.control-label{:for => "city"} City:
      .col-sm-9
        %input.form-control{:name => "city", :type => "text", :value => "{{ @profile.city }}"}/
    .form-group
      %label.col-sm-3.control-label{:for => "state"} State:
      .col-sm-9
        %select.form-control{:name => "state"}
          %repeat{:group => "{{ @states }}", :value => "{{ @state }}"}
            %option{:value => "{{ @state }}"}>
            {{ (@profile.state == @state) ? 'selected' : '' }}&gt;{{ @state }}
