.container
  .page-header
    %h1= @user.name
    %a{href: edit_user_path(@user)}
      %button.btn.btn-success Edit

  .media
    %span.glyphicon.glyphicon-user.media-left{ style:"color:navy;font-size:140px;padding-left:20px;"}
    .media-body
      %dl.dl-horizontal
        %dt Club:
        %dd
          %a New York Strangers
        %br
        %dt Teams:
        %dd
          %div
            %a New York Strangers Lo Chai 
            (
            %a New York Nationals 2015
            )
          %div
            %a New York Strangers A 
            (
            %a New York Mini 2015
            )
          %div
            %a New York Strangers A
            (
            %a Las Vegas Nationals 2014
            )
          %div
            %a New York Strangers A
            (
            %a New York Mini 2014
            )