<div class="container">
  <div class="page-header">
    <h1>{{ @tournament.name }}</h1>
  </div>

  <div>
    <dl class="dl-horizontal">
      <dt>Location:</dt><dd>{{ @tournament.host_city }}</dd>
      <dt>Date of tournament:</dt><dd>{{ date_create(@tournament.date_start)->format("F d") }} - {{ date_create(@tournament.date_end)->format("F d, Y") }}</dd>
      <dt>Registration deadline:</dt><dd>{{ date_create(@tournament.deadline)->format("F d, Y") }}</dd>
    </dl>
  </div>

  <br/><hr>

  <div>
    <h3>Registered teams ({{ count(@teams) }})</h3>
    <ul>
      <repeat group="{{ @teams }}" value="{{ @team }}">
        <li><a href="/team/{{ @team.team_id }}">{{ @team.name }}</a></li>
      </repeat>
    </ul>
  </div>

</div>