= form_for(@admin_club) do |f|
  - if @admin_club.errors.any?
    #error_explanation
      %h2
        = pluralize(@admin_club.errors.count, "error")
        prohibited this club from being saved:
      %ul
        - @admin_club.errors.full_messages.each do |message|
          %li= message
  .actions
    = f.submit
