%h1 Listing Teams

%table
  %thead
    %tr
      %th
      %th
      %th

  %tbody
    - @teams.each do |team|
      %tr
        %td= link_to team.name, admin_team_path(team), {class: "btn btn-link"}
        %td= link_to 'Edit', edit_admin_team_path(team), {class: "btn btn-link"}
        %td= link_to 'Destroy', admin_team_path(team), method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-link"

%br

= link_to 'New Team', new_admin_team_path, {class: "btn btn-default"}
